* {
  box-sizing: border-box;
}

body {
  padding: 0%;
    margin: 0%;
    display: inline;
    background-color: bisque;
}

header {
  width: 100%;
  height: 200px;
  background-color: #fff;
}
header img{
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  height: 40px;
}


button {
  background-color: #f9f9f9;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  position: fixed;
  top: 200px;
  z-index: 1;

}

.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  margin-top: -220px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 2;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {
  background-color: #f1f1f1;
}


.show {
  display: block;
}

.book {
  display: flex;
  margin: auto;
  width: 400px;
  height: 500px;
  pointer-events: none;
  transform-style: preserve-3d;
  transition: translate 1s;
  translate: calc(min(var(--c), 1) * 50%) 0%;
}

.page {
  --thickness: 5;
  flex: none;
  display: flex;
  width: 100%;
  pointer-events: all;
  user-select: none;
  transform-style: preserve-3d;
  border: 1px solid #0008;
  transform-origin: left center;
  transition:
    transform 1s,
    rotate 1s ease-in calc((min(var(--i), var(--c)) - max(var(--i), var(--c))) * 50ms);
  translate: calc(var(--i) * -100%) 0px 0px;
  transform: translateZ(calc((var(--c) - var(--i) - 0.5) * calc(var(--thickness) * 1px)));
  rotate: 0 1 0 calc(clamp(0, var(--c) - var(--i), 1) * -180deg);
}

.page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.front,
.back {
  flex: none;
  width: 100%;
  padding: 2rem;
  backface-visibility: hidden;
  background-color: #fff;
  translate: 0px;
}

.back {
  background-image: linear-gradient(to right, #fff 80%, #ddd 100%);
  translate: -100% 0;
  rotate: 0 1 0 180deg;
}


.principal_container {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  gap: 10px;
  font-size: 20px;
  margin-right: 10px;
}

.img {
  padding-right: 10px;
  justify-content: flex-end;
}

.principal {
  display: flex;
  background-color: brown;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.img img,
.min img {
  max-width: 100%;
  height: auto;
}

